---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: k8sgpt-operator
  namespace: k8sgpt
spec:
  interval: 1h
  chart:
    spec:
      chart: k8sgpt-operator
      version: "0.2.25"
      sourceRef:
        kind: HelmRepository
        name: k8sgpt
        namespace: flux-system
      interval: 1h
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    serviceMonitor:
      enabled: true
    grafanaDashboard:
      enabled: true
      label:
        key: grafana_dashboard
        value: "1"
    controllerManager:
      manager:
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 64Mi
