apiVersion: v1
kind: ConfigMap
metadata:
  name: forgejo-runner-config
  namespace: forgejo-runner
data:
  config.yaml: |
    log:
      level: info
    runner:
      file: /data/.runner
      capacity: 2
      timeout: 3h
      labels:
        - "ubuntu-latest:docker://ghcr.io/catthehacker/ubuntu:act-latest"
    cache:
      enabled: false
    container:
      network: bridge
      privileged: false
      options: ""
      workdir_parent: /workspace
