---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: voicemail-receiver
  namespace: voicemail-receiver
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: "Voicemail"
    gethomepage.dev/group: "Services"
    gethomepage.dev/icon: "voicemail.png"
    gethomepage.dev/href: "https://voicemail.dimensiondoor.xyz"
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`voicemail.dimensiondoor.xyz`)
      kind: Rule
      services:
        - name: voicemail-receiver
          port: 8080
  tls:
    secretName: voicemail-tls
