---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: voicemail-storage
  namespace: voicemail-receiver
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 5Gi
