---
apiVersion: v1
kind: ConfigMap
metadata:
  name: headscale-acl
  namespace: headscale
data:
  acl.json: |
    {
      "autoApprovers": {
        "routes": {
          "192.168.1.0/24": ["ammar@"]
        },
        "exitNode": ["ammar@"]
      },
      "acls": [
        {
          "action": "accept",
          "src": ["*"],
          "dst": ["*:*"]
        }
      ]
    }
