# This secret contains the runner registration file (.runner)
# To register a new runner:
#   1. Get a registration token from Forgejo UI: Site Administration -> Actions -> Runners -> Create new Runner
#   2. Register the runner:
#      kubectl exec -n forgejo deploy/forgejo-runner -c runner -- \
#        forgejo-runner register \
#        --instance http://forgejo-http.forgejo.svc.cluster.local:3000 \
#        --token <token> \
#        --name local-runner \
#        --no-interactive
#   3. Copy the .runner file and update this secret via sops:
#      kubectl exec -n forgejo deploy/forgejo-runner -c runner -- cat /data/.runner
#   4. Edit this file with sops: sops k8s/apps/forgejo/runner-secret.yaml
apiVersion: v1
kind: Secret
metadata:
    name: forgejo-runner
    namespace: forgejo
type: Opaque
stringData:
    runner: ENC[AES256_GCM,data:b5jhmGG55V7C5nCzA1VVwQPunHqdqIyIS8oWhV2BYKyDpJ6fEG+Bxte/JKvtZ6iuPjMpqFuZXLN+u8t0GMNRXspO5223xtUzLpC1yVuGJMoqNecMmeHds7OogYdDHRp6wSoNLjWxRwTvVU2hZhWe46uPsDVGAmCv+d4HZOvpxhh0RrblYz+Eln82Uzr5lqasKWVmFdcj7v3yct56emQPdoHatfajmgwkFItxZgnc/MGkEzQVqyTLflZPOlRoecGz9/Q4ukwssg+URYV9/x8JFu0bGRgt5QsViExIxHwmMLD33q2AfP6FsVMrbn0qM5oNUiGDjiCeg/izq5Jooxm3qBNZSe8XbSkNgZZWXMjnJuD654kKknQ2fX4EOXKR8OYV7ToGIeLqg4+hps+rEeKmQ6nYM5tRoJDDxfJWXIO4tNPJO5h8Q7kBq5r5kTGa3L0PaTtl80xPxqr9YUaac1JKAqsNy3odEM04cumhq+fZqiQrkAtAraSWONnJClwnu5XTpqJ1mTVw136hSyXglorn9srmPLSn4uHRpyyJR1JQYjBBoABqthNnaDeiWg4KJimbxfcSjhZdBuBzS4HhVNMi00HZrujgE3pZczp0hyUneR/r9+WTwQ==,iv:mBkEMCV7mQZEE+B+XYOthi2NpE6kA2H2JhagvKYhszk=,tag:6fmwyAT1ig33yqHmtzXqrA==,type:str]
    registry-token: ENC[AES256_GCM,data:pzVX56KWYxGwVLf6Nv6zbz6uYFCfejQO0C3GpeZERBusuvJsghDQ/g==,iv:RuQDxA/NNH3Vr7K9+Nkf+MY6U/Q1N2q0bT5q6DVZylI=,tag:KOvT6Dr19dcLp0KJNPfodQ==,type:str]
sops:
    age:
        - recipient: age1h96q7q8m88zl0cwsskmlmxgelnf863978hzrukqa3alcst5pv4dq8syj4c
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBKdFdaeFRPaVlZOEt3MUZK
            bThVWmsxU1MwMFpVSDRVOFRXc2NQbWNRU25vCjY1WWprSWlGYld4YnRHbzZqTjhq
            Mko0dVgrZ3B2WVIvaVdZWm0yZlh1OU0KLS0tIEpyR1RTczRpTDNCSHFxNzlJTWl4
            NVRicXIvb0NBKzlGZTVrYnd3MDhEV28KDO7iMY4tbrk9nPw+oBJUuIfTai1q8ZmD
            5WbicZ2kEUJdbCP5G1a0mX3CyBaIRUo8fcbFDqbvhfEnqiKM6f6S4Q==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age19yh3saqcmyyk7qr0zwgy44zz7fwrpzlrhzwx5ym7qsn0rneageuq3qdws5
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAxMnhPQkZoY1VtSENuZS8v
            a0lYcjBDbk5RRC9kOThTMnRZZWhwYTVyTEJJCktkU3BpR1l4bUJVN3FDZUpZQnM2
            LzhUaEh4LytvUHZxVUVzODQwcXR1ejQKLS0tIHQ2Nk45WG1IY28vd2pVQVMzb1Rk
            bWRjbnlQY0toTGxGM1RlNnVvNTRxYlkKnoUtOIra7HD2p+iSzW1Tt5kcGCjnCu0P
            0I1W1MmBYqdkZXSF64xXdVBzq52QtMjJvNqxeKIhJJ5rFglV1WQxzg==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1xjpmwgcs5wzak0v0hgzzuyw09re5weqxmqhsy7vhmz967wrnjuyqgezjxa
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBWL0lPcWV0cnRJTk9DR0ly
            c2JPeW10azNLVlRZM2U1RTJCWjZkaW83dzFFCkdQS2NSUEZybnB4ZXJpc1U3d2pw
            N1B3eDc5aXE3YUhrSGloOXpYbjZpMDAKLS0tIGdXUkF3U3lWT3pMVlJWTmN0ZDcr
            Z0tKeHJGb0VtaElBenYxK205M2dmSzgK7+Ys6wk4SMm+ANf78XMQXslPZQ7yUtrW
            k/o6Mu4ihirQo+Q279a2FenSlzoRqIdiyXd+HeqEsP1R5RltFl/2jg==
            -----END AGE ENCRYPTED FILE-----
        - recipient: age1r3mztcslxm6a60x8maclx6stwl82aka6435jz0p8vzm7nqc4uqnqqjqts3
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBPUHZFSklRY2ExYUtsM0xJ
            Y1FmNGFEWXpHb3ZQSHU2Zmlka1hvMVlveWxFCkExQkEzNmVYVyttT0tSWmlGbnBK
            TmU3aGNlR01pdkdlSlJWcW9aN3pnMUUKLS0tIFZlUlRiOG8xeVRzQkNEYnRXdXI4
            VGhxN2JUK2NmQXk1M0JuWTkwOFVETEUKOy++wbat5tIBxtaWbAp5DnAyG7sg7Lf0
            WGP0Rewct0t+xF7yetDK4dU2msuaK9ZcKcp5lYJs1Zq9wM7H34gMtg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-28T22:57:01Z"
    mac: ENC[AES256_GCM,data:6b4lCuh3sLQhAGGZqv4KbMKhYDGuj5fp6giTfatSTaiY0vZAOHaUkk7fG51SFwJNNGvCDleXQrmq+Qj3itk0CLbm3MX1Zc77tUtnPttNg7QAI/OBA7SXLvpGU+5hABsNu31kMkBGN56IQT6XiY8LLumet06+I2w2TWk2xqR0cIQ=,iv:qY8Hygn1IbeZne07ZvRiiKWhD6DNgoIc8/BDgt8h6u4=,tag:CarbuR/WxBnJR/jJbpZwmA==,type:str]
    encrypted_regex: ^(data|stringData)$
    version: 3.11.0
