---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ntfy-alertmanager
  namespace: monitoring
  labels:
    app.kubernetes.io/name: ntfy-alertmanager
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: ntfy-alertmanager
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ntfy-alertmanager
    spec:
      containers:
        - name: ntfy-alertmanager
          image: xenrox/ntfy-alertmanager:latest
          args:
            - --config
            - /etc/ntfy-alertmanager/config
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              memory: 64Mi
          livenessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 5
            periodSeconds: 30
          readinessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          volumeMounts:
            - name: config
              mountPath: /etc/ntfy-alertmanager
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: ntfy-alertmanager-config
---
apiVersion: v1
kind: Service
metadata:
  name: ntfy-alertmanager
  namespace: monitoring
  labels:
    app.kubernetes.io/name: ntfy-alertmanager
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: ntfy-alertmanager
