---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: homepage
data:
  settings.yaml: |
    title: Homelab
    favicon: https://gethomepage.dev/favicon.ico
    headerStyle: boxed
    layout:
      Infrastructure:
        style: row
        columns: 3

  kubernetes.yaml: |
    mode: cluster

  bookmarks.yaml: |
    []

  services.yaml: |
    - Infrastructure:
        - AdGuard:
            href: http://192.168.1.54
            icon: adguard-home.png
            description: DNS & Ad Blocking
        - Headscale:
            href: https://ts.dimensiondoor.xyz
            icon: headscale.png
            description: Tailscale Control Server

  widgets.yaml: |
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "k3s"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
    - datetime:
        text_size: xl
        format:
          dateStyle: long
          timeStyle: short
          hourCycle: h23

  docker.yaml: |
    []
