---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cliproxy-auths
  namespace: cliproxy
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn
