---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home-assistant
resources:
  - namespace.yaml
  - service.yaml
  - certificate.yaml
  - ingressroute.yaml
  - prometheus-secret.yaml
