---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ntfy
  namespace: ntfy
spec:
  interval: 1h
  chart:
    spec:
      chart: ntfy
      sourceRef:
        kind: HelmRepository
        name: rm3l
        namespace: flux-system
      interval: 1h
  values:
    ntfy:
      baseUrl: "https://ntfy.dimensiondoor.xyz"
      behindProxy: true
      cacheFile: "/var/cache/ntfy/cache.db"
      attachmentCacheDir: "/var/cache/ntfy/attachments"

    persistence:
      enabled: true
      size: 1Gi
      storageClass: longhorn

    resources:
      requests:
        memory: "64Mi"
        cpu: "50m"
      limits:
        memory: "256Mi"
        cpu: "200m"
