site_name: Homelab Postmortems
docs_dir: postmortems
theme:
  name: material

nav:
  - Home: index.md
  - Tags: tags.md

plugins:
  - search
  - tags:
      tags_file: tags.md

markdown_extensions:
  - meta
