---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: clawdbot-data
  namespace: clawdbot
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn
