---
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: proxmox-node-exporter
  namespace: monitoring
spec:
  scrapeInterval: 60s
  staticConfigs:
    - targets:
        - "192.168.1.24:9100" # rohan
        - "192.168.1.20:9100" # gondor
        - "192.168.1.23:9100" # the-shire
      labels:
        job: proxmox-node-exporter
